
.color-chart {
    background-color: whitesmoke !important;
}

.wrapper {
    height: 352px !important;
}

ion-slides, ion-slide {
    width: 100%;
    height: 100%;
}

.hiddenChart {
    display: none !important;
}